.arrows{
    background-image: url(arrows.png);
    background-repeat: no-repeat;
    background-size: cover;
  
    height: 40em;
    width: 40em;
    margin-left: 8%;
    
    margin-bottom: 2em;
}

/* .chart-container{
    padding-top: -8em;
    margin-top: -5em;
} */

.chart{
    background-image: url(square2.jpg);
    background-size: cover;
    margin-left: 10em;
    margin-bottom: -31.5em;
    margin-top: 4em;
    width: 21em;
    height: 21em;
    transform:  rotateX(-60deg) translateZ(125px) skewX(-24deg) ;
    border: 2px solid black;
}

/* .chart p {
    transform:  rotateX(00deg)skewX(24deg) ;
} */

.chart2{
    background-image: url(square1.png);
    background-size: cover;
    margin-left: 10em;
    margin-bottom: 7.5em;
    margin-top: 6em;
    width: 21em;
    height: 21em;
    transform:  rotateX(-60deg) skewX(-24deg); 
    border: 2px solid black;
}

.chart3{
    background-image: url(square3.jpg);
    background-size: cover;
    margin-left: 10em;
   
    width: 21em;
    height: 21em;
    transform:  rotateX(-60deg) translateZ(-125px) skewX(-24deg) ;
    border: 2px solid black;
}


/* -------------point circle--------------- */

.cons{
    width: 0.1em;
    height: 0.1em;
    /* padding-top: 10em;
    padding-left: 5em; */
}
.consPoint{
    width: 1em;
    height: 1em;
    /* background-color: white; */
    
}

.mid{
    width: 0.1em;
    height: 0.1em;
    
}

.midPoint{
    width: 1em;
    height: 1em;
    /* background-color: rgb(129, 0, 0); */

}

.prog{

    width: 0.1em;
    height: 0.1em;
    /* padding-top: 7em;
    padding-left: 13.5em; */
}

.progPoint{

    width: 1em;
    height: 1em;
    /* background-color: rgb(0, 68, 255); */
}
/* -------------------------------- */


/* responsive /////////////////////////////////////// */

@media only screen and (max-width: 415px ){
  *{
      font-size: 8px;
  }
    .arrows{
        background-image: url(arrows3.png);
        height: 48rem;
        width: 42rem;
        margin-top: 5em;
        margin-left: 1em;
    }
    
    /* 1 */
    .chart2{
        margin-top: -8em;
        margin-bottom: 0em;  
        margin-left: 10em;  
    }
    /* 2 */
    .chart{
        margin-top: -8em;
        margin-bottom: -19.4em;
        margin-left: 10em;  
    }

    /* 3 */
    .chart3{
         margin-left: 10em;
        margin-top: 15em;
        width: 21em;
        height: 21em; 
    }

}