*{
    padding: 0px;
    margin: 0px;
}

.flex-container{
    display: flex;
    flex-direction: column;
   
}

header{
    background-color: brown;
    height: 4em;
}


section{
    background-color: rgb(60, 121, 0);
}

.chart{
    background-image: url(compass.jpg);
    background-size: cover;
    margin-left: 6em;
    margin-top: -7em;
    width: 16em;
    height: 16em;
    transform:  rotateX(-60deg) translateZ(125px) skewX(-20deg) ;
}

.chart p {
    transform:  rotateX(00deg)skewX(20deg) ;
}

.chart2{
    background-image: url(compass2.jpg);
    background-size: cover;
    margin-left: 6em;
    width: 16em;
    height: 16em;
    transform:  rotateX(-60deg) skewX(-20deg); 
}

.chart3{
    background-image: url(compass.jpg);
    background-size: cover;
    margin-left: 6em;
    width: 16em;
    height: 16em;
    transform:  rotateX(-60deg) translateZ(-125px) skewX(-20deg) ;
     
}


/* -------------point circle--------------- */
.point{
    width: 0.5em;
    height: 0.5em;
}

.point2bis{
    width: 0.1em;
    height: 0.1em;
}

.point2{
    width: 0.5em;
    height: 0.5em;
}

.point3bis{
    width: 0.1em;
    height: 0.1em;
}

.point3{
    width: 0.5em;
    height: 0.5em;
}
/* -------------------------------- */



footer{
        background-color: chocolate;
        height: 4em;
}